<h1>New post</h1>

<%= form_with model: @post do |form| %>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %><br><br>
    <%= form.label :body, "Body" %><br>
    <%= form.text_field :body %><br><br>
    <%= form.submit %>
<% end %>